
:root {
    --primary-color: #E6E6E6;
    --secondary-color: #0B6E4F;
    --accent-color: #FFB100;

    --white-color: #fff;
    --black-color: #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    background-color: #000;
  }

  body {
  
    background-color: #000;
  }


    
  h1 {
    font-size: 2.5rem;
}


  


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0;
    /* gap 662px; */
    background-color: var(--black-color);
    color: var(--white-color);
    width: 1197px;
    height: 60px;
    border: 1px solid #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu li {
    list-style: none;
    margin-left: 20px;
  }
  
  .menu li:first-child {
    margin-left: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 16px;
    font-weight: bold;
  }

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 1197px;
    height: 590px;
}


.desk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 591px;
  height: 590px;
}

.desk h1 {
  /* width: 591px; */
  height: 120px;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: var(--primary-color);
}
.desk h3 {
  /* width: 446px; */
  height: 60px;

  color: var(--accent-color);

}  
.hero p{
  /* width: 591px; */
height: 252px;

font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 180%;
color: #E6E6E6;
}

.image {
  display: flex;
  width: 591px;
  height: 590px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;

}
  
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.pic {
  width: 187px;
   
  background-color: var(--secondary-color);
  border-radius: 10px;
}
.pic01 {
  height: 200px;
}

.pic02 {
  height: 257px;
  margin: 15px;
}

.pic03 {
  height: 83px;
  margin: 15px 12px;
}
.pic04 {
  height: 148px;
  margin: 15px 12px;
}

.pic05 {
  height: 251px;
}

.pic06 {
  height: 144px;
}

.pic07 {
  height: 501px;
}

